@media only screen and (max-width: 1024px){

.aside-class{
    display: none;
}
}


@media only screen and (min-width: 1024px){

.main-wrapper{
    display: flex;
}

.main-class{
    flex-basis: 70%;
}

.aside-class{
    flex-basis: 20%;
    padding: 10px;
    background: linear-gradient(180deg, rgb(80 167 128) 0%, rgb(79 167 128) 60%, rgb(255 255 255) 100%);
    display: flex;
    flex-direction: column;
    
}

.sidebar-label{
    width: 65%;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    border-bottom: 2px solid #ED2626;
}

.ul-menu {
    width: 180px;
    margin: 10px;
    border: none;
}

.ul-menu li {
    padding: 25px 15px 25px 1px;
    margin-bottom: 5px;
    margin-left: 12px;
    border-bottom: 1px solid #CECACA;
}

.ul-menu li a {
    font-size: 25px;
}


.contact-us{
    margin-top: 20%;
}


.paragraph{
    margin-top: 20%;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
}

.details{
    padding: 15px;
    margin-top: 200px;
    margin-bottom: 200px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


#contact-mail{
    margin-top: 20px;
    margin-bottom: 15px;
    padding-bottom: 20px;
    border-bottom: 2px solid #CECACA;
}

#adress{
    margin-top: 20px;
}


.button-get-sys-info{
    width: 90%;
    padding: 2%, 1%, 2%, 1%;
    margin-left: 12px;
    background-color: #49A37B; 
    font-size: 1.2vw;
    border-radius: 5px;
    color: white;
}

}