#footer{
    height: 70px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-basis: 70%;
    margin-left: 20%;
    margin-right: 20%;
}

.thumb-logo img{
    width: 40px;
 }


.footer-montevideo{
    display: flex;
    flex-direction: column;
    font-size: 3vw;
    justify-content: center;
}

#green-txt{
    color: #49A37B;
    padding: 10px;
    align-self: center;
}
.trademark{
    color: #000000;
    align-self: center;
    padding: 10px;
}

