*{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: inherit;
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
    color: inherit;
    width: 100%;
    
}

#navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #50A780;
    width: 100%;
        
}

header{
    width: 100%;
    font-size: 3vw;
}



.wrap-burguer{
    width: 50px;

}

.burguer{
    height: 40px;
    border: none;
    background-color: transparent;
    background: none;
    text-decoration: none;


}

.burguer img{
    height: 100%;
    border: none;
    background-color: transparent;
    background: none;
    text-decoration: none;


}

.navlinks{
    display: flex;
    justify-content: space-between;
    color: #000000;
    font-size: 2vw;
    text-decoration: none;   
}

.tutorials{
    padding: 8px 20px;
    margin-top: 10px;
    border-right: 1px solid #000000;
 }


.searchfield{
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 2vw;
    line-height: 2vw;
    border-radius: 200px;
    outline: none;
    border: none;
    text-decoration: none;
    width: 15%;
}

.flex{
    display: flex;
    justify-content: space-between;
    outline: none;
    border: none;
    text-decoration: none;
    width: 100%;

}
.search-button{
    background: transparent;
    border: none;
    outline: none;
}

.search-blank{
    background: transparent;
    border: none;
    outline: none;
}
.icon{
    background: transparent;
    border: none;
    outline: none;
    height: 10%;
}

.buttons{
    width: 20%;
    padding: 0.5%;
    height: auto;
}

.buttons a{
    border: none;
    outline: none;
    width: 100%;

}


.button-login{
    background-color: #FFFFFF;
    font-size: 2vw;
    border-radius: 200px;
    border: none;
    width: 40%;

    
}

.search-icon button{
    border: none;
    background-color: transparent;
    background: none;
    text-decoration: none;

}

.search-icon img{
    height: 10px;
    border: none;
    background-color: transparent;
    background: none;
    text-decoration: none;

}



@media only screen and (max-width: 1023px){

.navlinks{
    display: none;
 
    }
}
