*{
    box-sizing: border-box;
    margin: 0 auto;
    color: inherit;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

body{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
    color: inherit;
    width: 100%;   
}

header{
    width: 100%;
    font-size: 3vw;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #50A780;
    width: 100%;       
}

.wrap-burguer{
    flex-basis: 4%;
    height: fit-content;
}

.burguer{
    height: 40px;
    border: none;
    background-color: transparent;
    background: none;
    text-decoration: none;
}

.burguer img{
    width: 100%;
    padding: 5%;
    max-width: 35px;
    min-width: 20px;
    border: none;
    background-color: transparent;
    background: none;
    text-decoration: none;
}

.navlinks{
    display: none;
 
    }

.navlinks a{
    border-right: 1px solid #000000;
    flex-basis: 40%;
    padding: 4%;
}

.searchfield{
    display: none;
}

.search-icon{
    height: 20%;
    border: none;
    background-color: transparent;
    background: none;
    text-decoration: none;
}

.search-icon img{
    width: 100%;
    padding: 5%;
    max-width: 35px;
    min-width: 20px;
}

.flex{
    display: flex;
    justify-content: space-between;
    outline: none;
    border: none;
    text-decoration: none;
    width: 100%;
}

.search-button{
    background: transparent;
    border: none;
    outline: none;
}

.search-blank{
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    font-size: 2vw;
    margin: 1%
}

.icon{
    background: transparent;
    border: none;
    outline: none;
    height: 10%;
    padding: 2%;
}

.buttons{
    display: flex;
    justify-content: space-between;
    padding: 0.5%;
    height: 100%;
    width: 30%;
}

.buttons a{
    width: 100%;
    height: 100%;
    flex: 0 0 30%;
    margin-left: 10%;
    margin-right: 10%;
    border: none;
    outline: none;
}

.button-login{
    background-color: #FFFFFF;
    font-size: 2vw;
    border-radius: 200px;
    border: none;
    width: 100%;
}

@media only screen and (min-width: 768px){

.search-icon{
    display: none;

}

}
   
@media only screen and (min-width: 1024px){

.navlinks{
    display: flex;
    justify-content: space-between;
    color: #000000;
    font-size: 1.5vw;
    text-decoration: none;   
}

.searchfield{
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 2vw;
    line-height: 2vw;
    border-radius: 200px;
    outline: none;
    border: none;
    text-decoration: none;
    width: 15%;
}

}


